form {
  display: flex;
  height: 100%;
}

.mat-form-field {
  margin: auto;
  display: block;
  width: 80%;
}

.container-signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
